@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #E6E2E1;
}

hr {
    border: 1px solid #BBB8B8;
    margin: 30px auto;
    width: 93%;
}

h1,
h2,
h3 {
    font-family: 'Merienda One', cursive;
}

/* Navigation bar */
nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul {
    background-color: #080707;
    padding: 0;
    margin: 0;
    font-size: 95%;
    letter-spacing: 2px;
    height: 60px;
}

ul#menu li {
    float: left;
    list-style-type: none;
    height: 40px;
    padding: 0;
}

ul a {
    width: 120px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 25px 10px 10px;
    line-height: 25px;
    font-size: 17px;
    display: block
}

nav a:hover {
    background-color: #B8B8B8;
    color: #000000;
}

.active {
    background-color: #DB0909;
    color: #FFFFFF;
}

/* Banner image */
#banner {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pexels-pixabay-260922.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 150px;
}

.text-center {
    text-align: center;
}

/* About section */
#about {
    text-align: center;
    padding: 4% 10%;
    margin: 20px 70px;
    border: 5px solid #92461a;
    border-radius: 30px;
    line-height: 30px;
    display: block;
}

#about h2 {
    margin-bottom: 23px;
}

#about p {
    text-align: justify;
}

#chef {
    padding: 20px;
    margin: 20px 70px;
    border: 5px solid #92461a;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
}

#bio {
    width: 50%;
    text-align: center;
    float: left;
    padding: 30px 20px;
    margin: 30px 30px 55px 40px;
    line-height: 30px;
}

#bio h2 {
    margin-bottom: 23px;
    padding-top: 20px;
}

#bio p {
    text-align: justify;
    padding: 15px 20px;
}

#img-container {
    width: 300px;
    height: 300px;
    margin: 50px 80px 15px;
    float: right;
}

#img {
    background: url('../images/Lynn-Crawford.jpg') no-repeat center center;
    height: 100%;
}

/* Contact Info */
#contact {
    display: flex;
    justify-content: space-around;
    padding-top: 33px;
    height: 250px;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
    margin: 10px;
}

#hours h3,
#contact-info h3,
#address h3 {
    padding: 2px 40px;
}

#hours p,
#contact-info p,
#address p {
    padding: 0px 30px;
}

/* footer */
footer {
    height: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer h3 {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    list-style-type: none;
}

.social-links ul li {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto 20px;
    text-align: center;
    line-height: 100px;
    font-size: 120%;
}

.social-links i {
    color: #000000;
}

/* Menu */
.menu-list {
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.menu-list h2 {
    padding-left: 30px;
    margin-bottom: 23px;
}

.menu-list li {
    font-weight: bold;
    font-size: 1.8rem;
}

.menu-item h1 {
    padding-top: 110px;
    text-align: center;
    font-size: 2rem;
    word-spacing: 4px;
}

#breaky-menu ul,
#lunch-menu ul,
#dinner-menu ul {
    padding: 10px 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#breaky-menu,
#lunch-menu,
#dinner-menu {
    width: 40%;
    padding: 90px 20px 30px;
    margin: 30px 10px;
}

#breaky-menu li,
#lunch-menu li,
#dinner-menu li {
    list-style-type: circle;
}

.menu-container {
    width: 40%;
    height: 450px;
    margin-top: 35px;
    padding: 80px 60px 20px 40px;
}

/* breakfast menu */
#img-breaky {
    height: 100%;
    background: url('../images/pexels-christopher-alonzo-588776.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* lunch menu */
#img-lunch {
    height: 100%;
    background: url('../images/pexels-cottonbro-3298180.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Dinner menu */
#img-dinner {
    height: 100%;
    background: url('../images/pexels-jonathan-borba-3009323.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Form styling */
#form-contact {
    padding-top: 180px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #92461a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-f {
    font-family: 'Merienda One', cursive;
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin: 50px;
}

input[type=submit]:hover {
    color: #000000;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 80px 12%;
    overflow-x: hidden;
}

@media screen and (max-width: 1460px) {
    .menu-list li {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1024px) {

    #chef {
        flex-direction: column;
    }

    #img-container {
        margin: 50px auto 15px;
    }

    #bio {
        width: auto;
        margin: 30px auto;
    }

    .menu-list {
        flex-direction: column-reverse;
    }

    #breaky-menu,
    #lunch-menu,
    #dinner-menu {
        width: 100%;
        padding: 0 20px;
        margin: 20px 10px 0;
    }

    .menu-container {
        width: auto;
        padding: 10px 60px;
    }
}

@media screen and (max-width:768px) {

    #menu {
        height: auto;
        overflow: hidden;
    }

    ul a {
        padding: 10px 5px 5px;
        justify-content: center;
        width: 66px;
        font-size: 10px;
    }

    #banner {
        height: 50vh;
    }

    #banner h1 {
        padding-top: 180px;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }

    #h1 {
        font-size: 0.3rem;
    }

    #bio {
        padding: 0;
    }

    #contact {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    #hours {
        padding: 20px;
    }

    #contact-info {
        padding: 20px;
        margin: 0 auto;
    }

    #address {
        padding: 20px;
        margin-left: auto;
    }

    #container {
        width: 80%;
        margin-top: 35px;
        padding: 40px 30px 10px 20px;
    }

    .menu-container {
        padding: 10px 0;
    }
}

@media screen and (max-width:500px) {

    #banner h1 {
        padding: 180px 40px 0;
    }

    #about,
    #chef {
        margin: 10px 20px;
        font-size: 1rem;
    }

    #img-container {
        height: 200px;
        width: auto;
    }

    #img {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .menu-list {
        flex-direction: column;
    }

    #container {
        width: 80%;
        margin-top: 35px;
        padding: 80px 60px 20px 40px;
    }

    #contact {
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #contact-info {
        margin: 0;
    }

    #address {
        margin-left: 0;
    }

    #breaky-menu,
    #lunch-menu,
    #dinner-menu {
        padding: 0;
        margin: 20px 0 0;
    }

    #breaky-menu li,
    #lunch-menu li,
    #dinner-menu li {
        margin-bottom: 8px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {

    #banner h1 {
        padding: 180px 0 0;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }

    #bio {
        padding: 0;
    }

    .social-links a {
        width: 45px;
    }
}